<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
  <center> Programming Experience: C++, Python, Linux, ROOT, Geant4, Garfield++, LaTeX, HTML (enough to cobble together this website)</center>
</div>
<center>
<div class="wrapper">
  <a class="third after" href="PhD">PhD</a>
</div>
<div class="wrapper">
  <a class="seventh before after" href="Outreach">Outreach</a>
</div>
<div class="wrapper">
  <a class="eigth before after" href="Internships">Internships</a>
</div>
<div class="wrapper">
  <span class="square individual">
    <a class="ninth before after" href="download/Physics_Resume.pdf">CV</a>
  </span>
</div>
</center>
