<div class="user-details">
  <h1>My Experience</h1>
  <p> I have worked for a number of particle physics collaborations before my tenure as a PhD student. These experiences are detailed below. </p>

  <h1>Summer 2019: NEWS-G</h1>
  <p> With Prof. Kostas Nikolopoulos and Dr. Ioannis Katsioulas of the University of Birmingham</p>
  <p>NEWS-G is a design for a spherical proportional counter capable of detecting light dark matter candidates through nuclear recoil. My work for the collaboration involved testing the feasibility of using nitrogen gas in the chamber to detect thermal neutrons, with the intent of using the SPC for nuclear spectroscopy at a low cost. Later stages of the project also involved upgrades to the Geant4/Garfield simulation framework, and analysis of the impact of shielding on thermal neutrons entering the detector.</p>
  <p> A friend of mine, Jackie Matthews, is working on a PhD on NEWS-G from October 2020. I wish her all the best in this, and look forward to some friendly dark matter related banter next time we meet.</p>

  <h1>Autumn 2019: ATLAS</h1>

  <p> With Dr. Trevor Vickey of the University of Sheffield </p>
  <p>The ATLAS ITk is a proposed upgrade to the innermost tracking systems of the ATLAS experiment, to cope with an increase in luminosity from the HL-LHC upgrade. My work for the collaboration involved the initial design and testing of a neural network framework capable of identifying surface damage on the ABCSTAR chipset, which were to be installed into the ITk. Due to the large nature of these images, this involved a combination of a crude network made in keras to identify any damage, followed by using tensorflow's object detection API to highlight specific damaged areas.</p>
  <p> My time with Trevor was short, but he treated me to a pie at the end of our time together. I wish him all the best in his work as Deputy Run Coordinator of ATLAS. </p>
  
  <h1>Master's Project: NA62</h1>
  <p> With Dr. Evgueni Goudzovski and Dr. Angela Romano </p>
  <p> The NA62 experiment is a detector on the CERN SPS looking to gain high-precision readings of the branching ratio of the decay of a kaon to a pion and two neutrinos. This requires a high timing precision, which is helped by a precise time of entry into the detector at the upstream differential Cherenkov counter, KTAG. For my master's project, I designed and ran in Geant4 initial designs for an upgrade to KTAG, to be installed in 2025 to prepare for the HL-LHC upgrade. We presented our work to the collaboration in March 2020, showing the feasibility of timing resolutions as low as 16ps with half as much material as expected, which is to be researched further in the future.</p>
  <p> I have heard that, due to the size of the collaboration, there is always work to be done in NA62. I look forward to being able to help further in the future, although this might be a little naive considering the workload of a PhD.</p>
  
  <h1>Summer 2020: KLEVER</h1>
  <p> With Dr. Matthew Moulson, Dr. Tommaso Spadaro, and Dr. Silvia Martelotti</p>
  <p> KLEVER (KLong Experiment for VEry Rare decays) is a proposed experiment to replace NA62 in 2030, and measure the same branching ratio for neutral kaons and pions. This requires a detector capable of tracking neutral particles, a topic barely breached in particle physics. Matt contacted me about this work as part of the CERN Summer School 2020. Once the situation with COVID-19 became clear, I contacted Matt about working for him outside of the scheme.</p>
  <p> My work involved the development of ideas for a PreShower Detector, capable of tracking the trajectory of photons through the detector and tracing them to their original decay vertex, in order to veto events where more than one pion is present. This involved the upgrade of a simple ROOT framework to include multiple tracking layers and a kalman filter, in order to reduce the effect of multiple scattering on our results. This simulation was then also constructed in a more elaborate Geant4 simulation, in order to better model the physics of the simulation.</p>
  <p> It has been a plearure to work with the NA62 community once more, and I hope to be able to help further with KLEVER in the future.</p>
</div>

<center>
  <div class="wrapper">
  <a class="second after" href="/">Home</a>
  </div>
</center>
