<div class="user-details">
  <h1>My Outreach</h1>
    <p></p>
  <I><p>If you can't explain it to a six year old, you don't understand it yourself.</p>
  <p>- Albert Einstein</p></I>
  <p>I think all scientists have a duty to educate as well as research. Our work is a social one, done in communities willing to share information and experiences with one another: we should aim to extend this bubble to the general public, to inspire the coming generations and make sure the implications of our work is understood. On top of this, the general public play a large part in whether we are paid or not.</p>
  <p> Detailed below are some of my outreach experiences in the past. I am always looking to expand this list, so please send me an email if you have an idea!</p>
  <h1>Tutoring</h1>
  
  Over my undergrad, I worked part-time as a tutor of GCSE and A-Level maths and physics. In this time, I had 5 tutees, two of whom were for A-Level physics and maths, and three of whom focused on GCSE physics. Sessions would be conducted one or two times per week at their household (or on skype), and would involve a mixture of teaching advanced topics and engaging with typical exam questions. Each of my tutees has expressed how much they enjoyed tutoring sessions, and each has succeeded in their exams - to go onto subjects only tenuously related to physics, despite my best efforts.
  
  <h1>Teaching</h1>

  <p> During the summer of 2019, I worked as a teacher at Dame Elizabeth Cadbury Technology College for 4 weeks, as a teacher, assistant, scribe, lab technician and whatever else I could get my hands on. During this time, I worked under Dr. Hughes, giving lesson starters for either him or other teachers in the department of physics. At the end of the work, I presented to some of the higher ups of the Matrix Academy Trust a number of methods of educating lower-income students on some of the more hands-on applications of STEM subjects, to a positive response. </p>
  <p> Luke was a pleasure to work with, as was everyone else in the department. It has made me consider working as a teacher (after many years of research, at least) </p>

  <h1>University Ambassador Work</h1>

  <p> For 3 years, I worked as an ambassador for the department of physics at Birmingham. This involved giving tours of the university, answering students' questions about undergraduate life, and hosting events for nearby secondary schools. This led to me also working for the Ogden Trust in the summer of 2020 with two university applicants, answering their questions about undergraduate life, about my research experiences, and about our favourite games. </p>
  
  <h1>Society Committee Work</h1>

  <p> In the third year of my undergraduate, I worked for the Poynting Physical Society as a year representative. This involved passing on the wants and needs of students, helping with events, and discussing the future direction of the society in general. I personally hosted a number of these events, and got to know the undergraduate community very closely in this time. This led both to my teaching work at DEC, as well as the prestigious award of "Biggest Name In Physics" (I won the popular vote a second time in 2020, but was disqualified in order to make sure I did not dominate the competition). I was elected as secretary for the society for my fourth year, but dropped out to focus more on my studies: I am told the society greatly appreciated the LaTeX template for notes which I made in my short tenure.</p>

  <p> It was a personal goal of mine during my year on committee to increase inter-society communications: PPS has a large membership, and as such can platform smaller societies for minority groups in the department which would otherwise be dismissed as fringe, such as BEAMS and oSTEM Birmingham. I hope that this advice will take the society leaps and bounds further in the coming years.</p>

  <p> My time as an undergrad also led to many fun times with the Birmingham Astrophysics society. I have helped the society with events for British Science Week for many years now, presenting activities to primary schoolers to enjoy. It is for this reason I was jokingly called an "honourary committee member", and awarded the title of best society member in the EPS awards 2020.</p>
  
  <h1>Public Talks</h1>

 <p>I have also conducted a number of talks for the undergraduate community through Astrosoc: those which have been recorded can be seen below.</p> 
  
   <iframe width="420" height="315"
src="https://www.youtube.com/embed/uEXJ9rj4kng">
</iframe> 
  
</div>

<center>
  <div class="wrapper">
  <a class="second after" href="/">Home</a>
  </div>
</center>
