<div class="user-details">
  <h1>My PhD</h1>
  For my PhD, I will be studying at the University of Oxford, as part of St. Peter's College. My work will involve working with Professor Hans Kraus on the LZ experiment, and will most likely be conducting analysis on LZ's first datasets and designing a larger, more precise LZ for operation from around 2030.
  <h1>About LZ</h1>
  <p>The LZ experiment is a next-generation detector searching for dark matter, which is believed to make up the majority of the universe's mass.</p>

  <p>Dark matter candidates will enter the 7 tonne chamber of xenon located inside the experiment. Rare interactions with the xenon will produce photons and electrons, which can be picked up by a sensitive array of photomultipliers around the chamber. These can then be used in combination to tell us more about the interaction, and more specifically, if it matches any interactions currently known by the standard model.</p>
  <h1>So What?</h1>
  <p> If this interaction isn't one we've seen before, that leads us to be able to say with a certain degree of certainty that the interaction we've seen is one outside the standard model. This could be a dark matter candidate, most likely the type LZ has been designed to most easily detect: a medium mass range WIMP (Weakly Interacting Massive Particle). </p>
  <p> Work is going on in the LZ experiment on other research topics as well, including dark energy constraints, neutrino research and searching for neutrinoless double beta decay, which would prove that the neutrino and antineutrino are in fact the same particle.</p>
  <img src="https://www.hep.ucl.ac.uk/darkMatter/pictures/LZ_CAD.png" alt="LZ" width="800" height="auto">
</div>

<center>
  <div class="wrapper">
  <a class="second after" href="/">Home</a>
  </div>
</center>
